header {
   
    background-color: rgb(157, 209, 209);
    border-radius: 15px; /*creates rounded corners*/
    align-self: auto;
    color: rgb(117, 117, 128);
    text-align: left;
    width: 100%;
    margin: 5px 0px;
}
 nav {
  border: 0px solid grey;
  border-radius: 15px; /*creates rounded corners*/
    align-self: auto;
  background-color: rgb(157, 209, 209);
  color: rgb(117, 117, 128);
  text-align: center;
  width: 100%;
  margin: 5px 0px;
}

a, p, h1, h2, h3 {
  color: rgb(117, 117, 128);
 
}
  .button-bar {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }

  
 

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }

  .container {
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    align-items: center; /*aligns text*/
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
   
  }

  img {
    max-width: 100%;
    height: auto;
  }

.text-block {
 position:absolute;
 bottom: 80px;
 right: 80px;
 padding-left: 20px;
 padding-right: 20px;

}

  .about {
    background-color: rgb(157, 209, 209);
    width: 300px;
    height: 300px;
    font-size: 20px;
    text-align: center;
    border-radius: 15px; /*creates rounded corners*/
    align-self: auto;
    
  }
  .contact {
    background-color: rgb(157, 209, 209);
    width: 300px;
    height: 300px;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
  }
  .project1 {
    background-color: rgb(157, 209, 209);
    width: 300px;
    height: 300px;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
  }
  .project2 {
    background-color: rgb(157, 209, 209);
    width: 300px;
    height: 300px;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
  }

.project3 {
  background-color: rgb(157, 209, 209);
  width: 300px;
  height: 300px;
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
}
  
  .project4 {
    background-color: rgb(157, 209, 209);
    width: 300px;
    height: 300px;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
  }
  .project5 {
    background-color: rgb(157, 209, 209);
    width: 300px;
    height: 300px;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
  }


.project6 {
  background-color: rgb(101, 207, 166);
  width: 300px;
  height: 300px;
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
}

.project7 {
  background-color: rgb(221, 160, 81);
  width: 300px;
  height: 300px;
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
}
    
footer {
  color: black;
    text-align: center;
    font-size: 20px;
    color: rgb(117, 117, 128);
    

}

@media only screen and (max-width: 768px) {


.container {
  flex-wrap: no-wrap;
}
 
header, nav, footer {
  flex-wrap: no-wrap;
}
.button-bar {
  flex-wrap: no-wrap;
}
}